target/
.env
.env.local
.env.testnet
.env.mainnet
*.wasm

# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Rust
**/*.rs.bk
Cargo.lock

# OS
.DS_Store
Thumbs.db
